<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #4a4c4d;">
    <a class="navbar-brand" href="#">GOOD <span>FILMS</span> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Films <span class="genre">By genre</span><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Netflix</a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="#">iTunes</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Amazon Prime</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Hulu Plus</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">All Services</a>
          </li>
         
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button type="button" class="btn btn-link"><span class="bi bi-search"></span></button>
        <input class="form-control mr-sm-2" type="search" placeholder="Search for a film" aria-label="Search">
        
      </form>
    </div>
  </nav>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
    
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link " href="#"><span class="signin">SIGN IN</span></a>
        </li>
        <li class="nav-item active">
            <button type="button" class="btn btn-primary"><span class="bi bi-facebook"></span> Facebook</button>
        </li>
        &nbsp; &nbsp;
        <li class="nav-item active">
            <button type="button" class="btn btn-primary twitter"><span class="bi bi-twitter"></span> Twitter</button>
          </li>
          <li class="nav-item active">
         <button type="button" class="btn btn-link search"><span class="bi bi-key"></span></button><a href="" class="viaEmail">Or sign in via email</a>
          </li>
          
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a class="nav-link " href="#"><span class="signin">DON'T HAVE AN ACCOUNT YET?</span></a>
        <button type="button" class="btn btn-warning"><span class="bi bi-person-fill"></span> &nbsp;<span class="signup">Sign up</span></button>
      </form>
    </div>
  </nav>

  <div class="container">
    <div class="row row1">
      <div class="col-8">
        <p class="find">Find <span class="great">great films </span>on your favourite service<br> <span class="basedon">Based on <span class="great">2,396,229</span>
        film reviews</span></p>
      </div>
      <div class="col-4">
          <div class="helpus">
            <button type="button" class="btn btn-link"><span class="bi bi-check" style="color: #4a4c4d; font-size: 25px;"></span>
            <span style="color: #4a4c4d;">Help us get better by <span>rating 10 films</span><br><span class="onlytakes">It only takes <span style="color: #4a4c4d; font-weight: 350;">3 minutes</span></span></span>
            </button>
          </div>
        
      </div>
     
    </div>
    <div class="row row2">
      <div class="col-sm">
        <div class="card mb-4 border-0" style="width: 18rem;">
          <img class="card-img-top" src="../../assets/netflix.png" alt="Card image cap">
         
        </div>
      </div>
      <div class="col-sm">
        <div class="card mb-4 border-0" style="width: 18rem;">
          <img class="card-img-top" src="../../assets/apptv.png" alt="Card image cap">
         
        </div>
      </div>
      <div class="col-sm">
        <div class="card mb-4 border-0" style="width: 18rem;">
          <img class="card-img-top" src="../../assets/amazontv.png" alt="Card image cap">
         
        </div>
      </div>
      <div class="col-sm">
        <div class="card mb-4 border-0" style="width: 18rem;">
          <img class="card-img-top" src="../../assets/hulu.png" alt="Card image cap">
         
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <div class="card card1">
          <p class="witha"><span class="bi bi-question-circle"></span> With a <span class="goodf">GoodFil.ms account you can save all of your film preferences </span>to find better films to see.</p>
         
        </div>
      </div>
      
    </div>
  </div>