<div class="cardglobe">

    <div class="cards">
        <h6 class="heading">Get in Touch</h6>
        <form class="form">
          <div class="inputFlex">
          <input
              class="input-1"
              type="text"
              placeholder="First Name"
              size="19"
              required
            />
           <input
              class="input-2"
              type="text"
              placeholder="Last Name"
              size="19"
              required
            />
         
          </div>
          <div class="inputFlex">
            <input
                class="input-1"
                type="text" placeholder="Email"
                size="19"
                required
              />
             <input
                class="input-2"
                type="text"
                placeholder="Phone"
                size="19"
                required
              />
           
            </div>
          
          <input type="text" placeholder="Address" required />
          <input  type="text" placeholder="Type your message here" style="height: 40px;"/>
          
      
         
      
          <button type="submit">Submit</button>
          
        </form>
        <h6 class="heading1">Thanks for submitting</h6>
      </div>
</div>

